<h1>Add a patient to $doctor.getName()</h1>

<form action="/patients" method="post">
  <input id="doctorId" name="doctorId" type="hidden">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn">Add patient</button>
</form>
