<h1>Add a doctor</h1>

<form action="/doctors" method="post">
  <label for="name">Doctor's Name</label>
  <input id="name" name="name" text="type">
  <button type="submit" class="btn">Add Doctor</button>
</form>
