<p>Add Patient</p>

<form action="/patients" method="post">
  <label for="name">Patient's Name</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add Patient</button>
</form>
